airSche
ctimes
airSche-docu.aux
airSche-docu.fdb_latexmk
airSche-docu.log
airSche-docu.synctex.gz
airSche-docu.toc
airSche-docu.dvi
airSche-docu.tex
airSche-docu.tex~
*.png
*.o
airSche-docu.fls
airSche-docu.out
test.txt

